---
const { entry } = Astro.props;
const _date_obj = new Date(entry.data.date);
const date = {
	month: _date_obj.getMonth() + 1,
	day: _date_obj.getDate(),
	year: _date_obj.getFullYear(),
};
const url = `/opinion/${entry.id}`; // todo: find a way to use this
// and to have one for author too.
---

<div
	class="h-[12em] border border-black p-4 m-4 flex flex-col justify-between 
						hover:-translate-y-2 transition-transform duration-200 ease-in-out"
>
	<a href={url} class="text-lg font-bold">
		{entry.data.title}
	</a>
	<p class="text-xs italic">
		by {entry.data.author} · {date.day}.{date.month}.{date.year}
	</p>
</div>