---
/**
 * title block component
 * 
 * props:
 * - title: the title of the article
 * - dateStr: the publication date of the article as a string
 * - author: the author of the article
 * 
 * this component displays the title, author, and publication date of an 
 * article.
 */
const { title, dateStr, author } = Astro.props;
const _date_obj = new Date(dateStr);
const date = {
  month: _date_obj.getMonth() + 1,
  day: _date_obj.getDate(),
  year: _date_obj.getFullYear(),
};
---

<div class="w-full py-2 space-y-4">
  <h1 class="text-5xl font-semibold leading-tight">
    {title}
  </h1>
  <p class="text-md italic">
    by {author} · {date.day}.{date.month}.{date.year}
  </p>
</div>
