---
import Main from "../layouts/Main.astro";
import HomeSection from "../layouts/HomeSection.astro";
import ArticleSquare from "../components/ArticleSquare.astro";
import Hero from "../components/Hero.astro";
import TeamMember from "../components/TeamMember.astro";
import { getCollection } from "astro:content";

const opinion_coll = await getCollection("opinion").then((coll) =>
  coll.slice(0, 6),
);
const team_coll = await getCollection("team");
---

<Main>
  <div class="lg:w-3/5 lg:min-w-[800px] w-full px-12 lg:p-4 space-y-[4em]">
    <!-- Hero section -->
    <Hero />
    <!-- ENDOF Hero section -->
    <!-- Opinion section -->
    <HomeSection title="Opinion">
      <ul class="grid sm:grid-cols-1 md:grid-cols-3 space-y-4">
        {
          opinion_coll.map((entry) => {
            return (
              <ArticleSquare
                entry={entry} />
            );
          })
        }
      </ul>
    </HomeSection>
    <!-- ENDOF Opinion section -->
    <!-- Team section -->
    <HomeSection title="Team">
      <div class="grid grid-cols-2 p-4">
        {
          team_coll.map((entry) => (
            <TeamMember
              name={entry.data.name}
              desc={entry.data.desc}
              avatar={entry.data.avatar}
              urls={entry.data.urls}
            />
          ))
        }
      </div>
    </HomeSection>
    <!-- ENDOF Team section -->
  </div>
</Main>
